body {
    background:darkolivegreen;
}

.container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    background-image: url("images/Cartoon\ Spooky\ Level\ Set_Background\ -\ Layer\ 00.png");
    position: relative;
}

/* #background {
    width: 960px;
    position: relative;
} */

#comm {
    height: 200px;
    position: absolute;
    bottom: 0px;
    right: 100px;
}

#slash {
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 100px;
}

#skullbtn {
    position: absolute;
    bottom: 200px;
    left: 160px;
}

#commbtn {
    position: absolute;
    bottom: 200px;
    right: 130px;
}